
<% include ./partials/header %>

<h1><%= message %></h1>

<h1>LOGIn</h1>
<form action="/login" method="POST">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="password">
  <input type="SUBMIT" value="LOGIN">

</form>

<% include ./partials/footer %>
